<div class="chat-content">
  <div class="content">
    <div class="name-time">
      <p class="name"><%= message.user.name %></p>
      <p class="time"><%= l message.created_at%></p>
    </div>
    <p class="text"><%= message.content%></p>
  </div>
</div>