<div class="container side">

  <div class="top sb">
  <%# nickname = 10 characters max %>
    <div class="nickname"><p>123456789#</p></div>
    <div class="new-chat">
      <%= link_to 'チャットを作成する', "" %>
    </div>
  </div>

  <div class="sb2">
  </div>

</div>
